<div id="header">
<ul class="nav">
<li class="nav"><a class="nav" href="index.html">Overview</a></li>
<li class="nav"><a class="nav" href="index.html"><s>Wiki</s></a></li>
<li class="nav"><a class="nav" href="breeding.html">Breeding Info</a></li>
<li class="nav"><a class="nav" href="downloads.html">Downloads</a></li>
<li class="nav"><a class="nav" href="bugs.html">Report a Bug</a></li>
<li class="nav"><a class="nav" href="videos.html">Videos</a></li>
<li class="nav"><a class="nav" href="contact.html">Contact Author</a></li>
</ul>
</div>