@CHARSET "ISO-8859-1";

body {
	background-image: url("gfx/Background.png");
	font-family:sans-serif;
	color: white;
}

div#header {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

div.section {
	display: block;
	border-style: ridge;
	border-width: 8px;
	overflow-y: hidden;
	background-color: #FFEC80;
	border-radius: 32px;
	border-color: #FFD900;
	transition: height 2s;
	-moz-transition: height 2s; /* Firefox 4 */
	-webkit-transition: height 2s; /* Safari and Chrome */
	-o-transition: height 2s; /* Opera */
}

div.youtube {
	width: 120px;
	height: 90px;
	float: left;
	margin: 14px;
}

div.section1 {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 24px 24px 24px;
	border-radius: 128px;
}

div.section2 {
	width: 660px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
	margin-top: 24px;
	padding: 4px 24px 16px 24px;
	border-radius: 64px;
}

div.section3 {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	margin-top: 12px;
	padding: 4px 24px 16px 24px;
	border-radius: 32px;
}

div.section.red {
	background-color: #780000;
	border-color: #FF0000;
}

div.section.blue {
	background-color: #003D82;
	border-color: #008CFF;
}

div.section.green {
	background-color: #008200;
	border-color: #00E004;
}

div.section.yellow {
	background-color: #6F0073;
	border-color: #CC00FF;
}

div.section h1 {
	text-align: center;
	line-height: 16px;
}

div.section h2 {
	text-align: center;
	line-height: 12px;
}

div.section h3 {
	text-align: center;
	line-height: 8px;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

li.nav {
	float: left;
}

a.nav:link,a.nav:visited {
	display: block;
	width: 150px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
	background-color: #FFEC99;
	border-color: #FFD000;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	border-style: ridge;
	border-width: 2px;
	border-radius: 24px;
	margin: 2px;
}

a.nav:hover,a.nav:active {
	background-color: #FFD000;
}

div.changelog-main {
	display: block;
	width: 560px;
	border-width: 4px;
	border-radius: 12px;
	border-color: #ffffff;
	border-style: ridge;
	overflow-y: hidden;
	padding: 4px;
}

div.changelog-entry {
	width: 560px;
}

div.changelog-type {
	display: block;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #FFFFFF;
	width: 84px;
	background-color: #444224;
	text-align: center;
	text-decoration: none;
	border-style: ridge;
	border-width: 2px;
	border-radius: 12px;
	float: left;
	margin: 2px;
}

div.changelog-message {
	display: block;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #FFFFFF;
	width: 450px;
	background-color: #444224;
	text-align: center;
	text-decoration: none;
	border-style: ridge;
	border-width: 2px;
	border-radius: 12px;
	float: left;
	margin: 2px;
}

div.changelog.warning {
	background-color: #FFBD7A;
	border-color: #FF8000;
	color: #804000;
}

div.changelog.issue {
	background-color: #FF7A7A;
	border-color: #FF0000;
	color: #7A0000;
}

div.changelog.fix {
	background-color: #F385FF;
	border-color: #E600FF;
	color: #70007D;
}

div.changelog.info {
	background-color: #8AEFFF;
	border-color: #00DDFF;
	color: #006373;
}

div.changelog.new {
	background-color: #C6FF80;
	border-color: #8CFF00;
	color: #437A00;
}

div.changelog.change {
	background-color: #85A9FF;
	border-color: #004CFF;
	color: #00216E;
}

a.link:link,a.link:visited {
	display: block;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #444444;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	border-style: ridge;
	border-width: 2px;
	border-radius: 24px;
	margin: 4px;
}

a.link:hover,a.link:active {
	background-color: #777777;
}

a.link.red:link,a.link.red:visited {
	background-color: #800000;
}

a.link.red:hover,a.link.red:active {
	background-color: #FF0000;
}

a.link.blue:link,a.link.blue:visited {
	background-color: #004985;
}

a.link.blue:hover,a.link.blue:active {
	background-color: #008CFF;
}

a.link.green:link,a.link.green:visited {
	background-color: #007A02;
}

a.link.green:hover,a.link.green:active {
	background-color: #00E004;
}





td.toleranceBox {
	width: 52px;
	height: 24px;
	border-width: 1px;
	border-radius: 0px;
	border-color: #000000;
	border-style: ridge;
	color: #000000;
}

td.toleranceBox.selected {
	border-width: 4px;
}

.beeImage.box {
	width: 128px;
	height: 128px;
}

.beeImage.image {
	width: 128px;
	height: 128px;
	position: relative;
}

.beeImage.glow {
	z-index: 0;
}

.beeImage.main {
	z-index: 1;
	top: -128px;
}

.beeImage.body {
	z-index: 2;
	top: -256px;
}

.biomeIcon {
	
	margin: 2px;
	width: 48px;
	height: 48px;
	display: inline;
	border-width: 4px;
	border-color: #000000;
	border-radius: 16px;
}