@CHARSET "ISO-8859-1";

body {
	background-color: #000000;
}

div.pictureBar {
	background-image: url("gfx/09.jpg");
	height:128px;
}

div.titleBar {
    background-image: url("gfx/09.jpg");
    background-color: #000000;
    height:48px;
}