@CHARSET "ISO-8859-1";

div.infobox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 48px;
}

table.infobox {
   width:208px;
}